<div id="<%= dom_id transaction %>">
  <p>
    <strong>Transaction number:</strong>
    <%= transaction.transaction_number %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= transaction.quantity %>
  </p>

  <p>
    <strong>Total cost:</strong>
    <%= transaction.total_cost %>
  </p>

</div>
